body {
	margin: 75px auto 0;
	font-family: 'Open Sans', sans-serif;
}

.clear {
	clear: both;
}

.container {
	padding: 0 30px;
	overflow: hidden;
}

#work {
    height: 3000px;
    background:#ecf0f1;
}