body {
	margin: 75px auto 0;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-weight: 300;
	background: #ecf0f1
}

p {
	font-size: 18px;
	line-height: 18px;
}

.clear {
	clear: both;
}

.container {
	padding: 0 30px;
	overflow: hidden;
}

.shown {
	display: block;
}

.hidden {
	display: none;
}