@media screen and (max-width: 991px) {
    #masthead {
        h1 {
            font-size: 38px;
        }

        a {
            top: 60%;
        }
    }
}

@media screen and (max-width: 768px) {

    header {
        #menuIcon {
            display: block;
        }

        nav {

            ul {
                position: absolute;
                background: #fff;
                right: 0;
                left: 0;
                top: 75px;
                text-align: center;
                padding: 0;
                height: 0;
                -webkit-transition: height 0.3s ease-out;
                -moz-transition: height 0.3s ease-out;
                -o-transition: height 0.3s ease-out;
                transition: height 0.3s ease-out;

                li {
                    float: none;
                    padding: 10px;
                    display: block;

                    a {
                        line-height: initial;
                        margin-left: 0;
                    }
                }

                .icon {
                    display: inline-block;
                    padding-top: 17px;
                }
            }
        }


        .nav-shown {
            height: 200px;
            border-top: 1px solid #ecf0f1;
        }

    }

    main {
        &.overlay:after {
            content: '';
            display: block;
            position: fixed;
            top: 0; bottom: 0; left: 0; right: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.6);
        }
    }

}

@media (max-width: 658px) {
    #masthead {
        height: 275px;

        h1 {
            font-size: 20px;
            font-weight: 500;
        }

        a {
            font-size: 18px;
            top: 65%;
            width: 100%;
        }
    }
}

