@media screen and (max-width: 1276px) {
    #work {
        article { 
            margin-bottom: 40px;

            .column-text {
                float: none;
                width: 100%;
            }

            .column-image {
                float: none;
                width: 100%;
                padding-left: 0;

                .slideshow {
                    margin: 32px auto 0 auto;
                }
            }

            .form {
                display: none;

                &.sm {
                    display: block;
                }
            }

        }
    }
}

@media screen and (max-width: 1066px) {
    #instafeed {
        .photo {
            img {
                width: 200px;
            }

            .caption {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    #masthead {
        h1 {
            font-size: 38px;
        }

        a {
            top: 60%;
        }
    }
}

@media screen and (max-width: 912px) {
    #work {
        article { 
            margin-bottom: 40px;

            .column-text {
                float: none;
                width: 100%;
            }

            .column-image {
                float: none;
                width: 100%;
                padding-left: 0;

                .slideshow {
                    height: 0;
                    padding-bottom: 59%;
                }
            }

        }
    }
}

@media screen and (max-width: 768px) {

    header {
        #menuIcon {
            display: block;
        }

        nav {

            ul {
                position: absolute;
                background: #fff;
                right: 0;
                left: 0;
                top: 75px;
                text-align: center;
                padding: 0;
                height: 0;
                -webkit-transition: height 0.3s ease-out;
                -moz-transition: height 0.3s ease-out;
                -o-transition: height 0.3s ease-out;
                transition: height 0.3s ease-out;

                li {
                    float: none;
                    padding: 10px;
                    display: block;

                    a {
                        line-height: initial;
                        margin-left: 0;
                    }
                }

                .icon {
                    display: inline-block;
                    padding-top: 17px;
                }
            }
        }


        .nav-shown {
            height: 200px;
            border-top: 1px solid #ecf0f1;
        }

    }

    main {
        &.overlay:after {
            content: '';
            display: block;
            position: fixed;
            top: 0; bottom: 0; left: 0; right: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.6);
        }
    }

}

@media screen and (max-width: 706px) {
    #instafeed {
        .photo {
            img {
                width: 150px;
            }
        }
    }
}

@media screen and (max-width: 658px) {
    header #logo {
        font-size: 50px;
        letter-spacing: -10px;
    }
    #masthead {
        height: 275px;

        h1 {
            font-size: 20px;
            font-weight: 500;
        }

        a {
            font-size: 18px;
            top: 65%;
            width: 100%;
        }
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    #work article {
        .column-text {
            p {
                font-size: 14px;
            }

            ul {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 556px) {
    #instafeed {
        .photo {
            img {
                width: 100px;
            }
        }
    }
}

