#work {

    article {
    	overflow: hidden;
    	margin-bottom: 80px;

	    .experience {
	    	overflow: hidden;
	    	background: #ecf0f1;

	    	&.even {
	    		background: #D3D7D7;
	    	}
	    }

	    .column-text {
	    	float: left;
	    	width: 40%;
	    	padding-right: 30px;

		    p {
			    font-size: 18px;
			    margin: 0;
			    margin: 10px 0;
		    }


		    ul {
				margin: 0;
			    font-size: 18px;
			    line-height: 26px;

			    li {
		    	    margin: 10px 0;
			    }
		    }
	    }

	    .column-image {
		    float: right;
	    	width: 55%;
	    	padding-left: 30px;

		    .slideshow {
			    width: 833px;
			    height: 490px;
			    max-width: 100%;
			    position: relative;
			    margin-top: 32px;

		    	div {
		    		position: absolute; 
		    		top:0;
					bottom:0;  
					left:0;
					right:0;
		    	}

		    	img {
		    		max-width: 100%;
		    	}
		    }
	    }

	    form {

	    	&.sm {
	    		display: none;
	    	}

	    	text-align: center;
		  		padding-top: 20px;
				overflow: hidden;

		    .switch-field {
				display: inline-block;
				
				input {
				    display: none;

				    &:checked + label {
			  			background-color: #3C72CA;
						color: white;
				  		-webkit-box-shadow: none;
			  			box-shadow: none;
					}
				}

				label {
			  		float: left;
			  		display: inline-block;
					width: 60px;
					background-color: #D3D7D7;
					font-size: 14px;
					font-weight: normal;
					text-align: center;
					text-shadow: none;
					padding: 6px 14px;
					border: 1px solid rgba(0, 0, 0, 0.5);

					-webkit-transition: all 0.1s ease-in-out;
					-moz-transition:    all 0.1s ease-in-out;
					-ms-transition:     all 0.1s ease-in-out;
					-o-transition:      all 0.1s ease-in-out;
					transition:         all 0.1s ease-in-out;

					&:hover {
						cursor: pointer;
					}
				}
			}
	    }
    }

}

#life {
	background: #D3D7D7;
	padding-bottom: 40px;
}

#instafeed {
	padding-top: 25px;
	text-align: center;

	&:hover .photo a {
	    opacity: .7;
	}

	.photo {
		padding: 0 10px 10px 0;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		display: inline-block;

		a {
			-webkit-transition: opacity .2s ease-in-out;
			transition: opacity .2s ease-in-out;
	    	-webkit-transition: opacity .2s ease-in-out;
			-moz-transition:    opacity .2s ease-in-out;
			-ms-transition:     opacity .2s ease-in-out;
			-o-transition:      opacity .2s ease-in-out;

			&:hover {
			    opacity: 1;
			}

		}

		.caption {
			position: absolute;
			width: 97%;
			bottom: -40px;
			visibility: hidden;
			left: 0;
			background-color: rgba(0,0,0,0.7);
			z-index: 1000;
			line-height: 1pt;
			text-align: center;
			color: #fff;
			-webkit-transition: all 300ms ease-out;
			-moz-transition: all 300ms ease-out;
			-o-transition: all 300ms ease-out;
			-ms-transition: all 300ms ease-out;	
			transition: all 300ms ease-out;

			.fa-map-marker {
				padding-right: 5px;
			}
		}

		&:hover .caption {
			-moz-transform: translateY(-100%);
			-o-transform: translateY(-100%);
			-webkit-transform: translateY(-100%);
			transform: translateY(-100%);
			visibility: visible;
		}
	}
}

